*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
Thumbs.db

*.iml
*.ipr
*.iws
.idea/
android/.idea/

#.vscode/

**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.fvm/
.packages
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/
*.g.part

app.*.symbols
app.*.map.json

/android/app/debug
/android/app/profile
/android/app/release
android/.gradle/
android/local.properties
android/captures/
android/.cxx/
*.jks
*.keystore
*.p12
*.pem

ios/.generated/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Pods/
ios/.symlinks/
ios/Flash/

macos/.generated/
macos/Flutter/Generated.xcconfig
macos/Flutter/flutter_export_environment.sh
macos/Pods/
macos/.symlinks/
macos/Flash/

*.xcuserstate
xcuserdata/
DerivedData/
.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings

windows/flutter/ephemeral/
windows/CMakeLists.txt.user

linux/flutter/ephemeral/

web/manifest.json.tmp

.env
.env.*
!.env.example